# c++/scons
.sconsign.dblite
.scons_cache/
*.obj
*.os
*.o
*.pyc

# compiled binaries
demo/addons/gd-global-input/linux/*
demo/addons/gd-global-input/macos/*
demo/addons/gd-global-input/windows/*

!demo/addons/gd-global-input/linux/.gitkeep
!demo/addons/gd-global-input/macos/.gitkeep
!demo/addons/gd-global-input/windows/.gitkeep