# c++/scons
.sconsign.dblite
.scons_cache/
*.obj
*.os
*.o
*.pyc
~*.dll

.cache
.vscode
compile_commands.json

.vscode
compile_commands.json

# compiled binaries
demo/addons/godot-native-tray/windows/*
!demo/addons/godot-native-tray/windows/.gitkeep